* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* -------------------------- PODESAVANJA OKO FONTOVA ---------------------------  */
* {
    font-family: 'Playfair Display','Times New Roman', Times, serif;
}

h1 {
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
}

.noItalic {
    font-style: normal;
}

p {
    text-align: justify;
}

/* ---------------------------------- BOJE --------------------------------------  */
:root {
    /* --background-color: #FFFFFF; */
    --sliderRed: #c7363d;
    --navigationRed: rgba(199, 54, 61, 0.1);
    --navigationSilver: #CCCCCC;
    --simpleCardsBlue: #0C71C3;
}
 


/* ---------------------------- OSNOVE RESPONSIVE --------------------------------  */
.container {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}




/* ===================================== HEADER ====================================== */

/* ------------- NAVIGACIJA ----------------- */

        /* GORNJI DEO NAVIGACIJE*/
.topNav { 
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 5%;
    width: 60%;
}

.logo img{
    width: 100%;
}

.rightCorn {
    margin-right: 5%;
}

.rightCorn .socialAndLang {
    display: none;
}

.rightCorn .searchbox {
    display: none;
}


.hamburgerIcon {
    display: block;
    width: 48px;
    height: 48px;
    z-index: 999;
}

.hamburgerIcon img {
    width: 100%;
}

/* za search icon  */
.searchbox > .material-symbols-outlined {
    font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media only screen and (min-width: 450px) {
    .logo {
        width: 270px;
    }

    .hamburgerIcon {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-left: 0px;
        width: 318px;
        height: 96px;
    }
    
    .logo img{
        width: 318px;
        height: 96px;
    }
}

@media only screen and (max-width: 1023px) {
    .rightCorn {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) {
    .hamburgerIcon {
        display: none;
    }

    .rightCorn .socialAndLang {
        display: block;
        width: 360px;
        display: flex;
        justify-content: space-between;
    }
    
    .socialAndLang > .social img {
        height: 30px;
    }
    
    .socialAndLang > .lang span {
        font-size: 12px;
        font-weight: 700;
        color: var(--simpleCardsBlue);
    }
    
    .vl {
        display: inline;
        margin: 0 5px;
        border-left: 2px solid var(--simpleCardsBlue);
        height: 10px;
    }
    
    .rightCorn > .searchbox{
        display: flex;
        padding: 3px;
        margin-top: 10px;
        width: 380px;
        height: 38px;
        border-radius: 40px;
        background-color: var(--navigationSilver);
    }
}


        /* GLAVNI DEO NAVIGACIJE*/
nav > .container ul {
    list-style-type: none;
}
    
nav > .container a,
nav > .container a:link,
nav > .container a:visited {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1023px) {
    


}

@media only screen and (min-width: 1024px) {
    
    nav {
        /* border-top: 2px solid var(--navigationSilver);
        border-bottom: 2px solid var(--navigationSilver); */
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(90deg, transparent 0%, black 5%, black 95%, transparent 100%);
        border-image-slice: 1;
        height: 72px;
        margin-bottom: 10px;
    }

    nav > .container {
        position: relative;
    }

    nav > .container > ul {
        position: absolute;
        top: -2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        width: 100%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    nav > .container > ul > li {
        height: 100%;
        /* background-color: green; */
        display: flex;
        align-items: center;
    }


    nav > .container > ul > li > *:not(h2){
        height: 0;
        width: 0;
        opacity: 0;
        /* overflow: hidden; */
        /* transition: all 0.5s ease; */
        display: none;
    }

    nav > .container > ul > li h2 {
        font-size: 15px;
        font-weight: 600;
        color: black;
    }

    nav > .container > ul > li:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid black;
        /* background: linear-gradient(0deg, rgba(199,54,61,0.4) 0%, transparent 10%); */
        /* border-radius: 2px; */
    }

    nav > .container > ul > li:hover h2,
    nav > .container > ul > li:hover h2 a {
        color: var(--sliderRed);
    }

    nav > .container > ul > li:hover > ul {
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        height: 400px;
        background-color: white;
        opacity: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        border-top: 2px solid black;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    nav .desc {
        width: 30%;
        height: 100%;
        /* background-color: red; */
        padding: 20px;
    }

    nav > .container > ul > li > ul > li {
        /* background-color: yellow; */
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        width: 70%;
        display: flex;
    }

    nav > .container > ul > li > ul > li:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid var(--sliderRed);
    }

    nav h4 {
        /* background-color: blue; */
        width: 50%;
    }

    nav > .container > ul > li > ul > li > ul {
        height: 0;
        width: 0;
        opacity: 0;
    }

    nav > .container > ul > li > ul > li:hover > ul {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        height: 100%;
        width: 35%;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }

    nav > .container > ul > li > ul > li > ul > li {
        /* background-color: blueviolet; */
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    nav > .container > ul > li > ul > li > ul > li:hover {
        /* background-color: blueviolet; */
        border-top: 2px solid transparent;
        border-bottom: 2px solid var(--sliderRed);
    }

    nav > .container > ul > li > h2 {
        margin: 0 20px;
        text-align: center;
    }

    nav h3 {
        font-size: 25px;
        font-weight: 700;
        color: var(--sliderRed);
        font-style: italic;
        text-align: center;
        margin: 20px 0px;
        text-decoration: underline;
    }

    nav .desc::after {
        content: '';
        position: absolute;
        height: 300px;
        border-right: 2px;
        border-left: 0;
        border-style: solid;
        border-image: linear-gradient(to bottom, #ffffff, var(--navigationSilver), #ffffff) 1 100%;
        top: 50px;
        left: 29.1%;
    }

    nav > .container > ul > li:hover > ul::after {
        content: '';
        position: absolute;
        height: 300px;
        border-right: 2px;
        border-left: 0;
        border-style: solid;
        border-image: linear-gradient(to bottom, #ffffff, var(--navigationSilver), #ffffff) 1 100%;
        top: 50px;
        right: 34.2%;
    }


}

/* 
        left: 29.1%;
nav > .container > ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    height: 101%;
    top: 0;
    left: -110%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 998;
    padding-top: 25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20%;
}

nav > .container > ul a,
nav > .container > ul a:link,
nav > .container > ul a:visited {
    text-decoration: none;
    color: black;
}

nav > .container > ul > li {
    width: 80%;
    margin-bottom: 20px;
}

nav > .container > ul > li h2 {
    color: var(--sliderRed);
}

nav > .container > ul > li h3 {
    margin-bottom: 10px;
}

nav > .container > ul > li > h2 > a {
    color: var(--sliderRed) !important;
}

nav > .container > ul > li:has(> .subMenu) h2{
    display: flex;
    align-items: center;
}

h2 > .material-symbols-outlined {
    font-size: 1.5em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav > .container > ul > li:has(> .subMenu) h2::after {
    content: url('SLIKE/expand_more_FILL0_wght400_GRAD0_opsz48.svg');
    display: inline-block;
    margin-left: 5px;
}

nav > .container > ul > li ul {
    list-style-type: none;
    padding-left: 10px;
    width: 80%;
}

nav > .container > ul > li ul li{
    font-size: 1.1em;
    margin: 5px 0px;
}

.expand {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
    
.expand.shown {
    height: auto;
    overflow: visible;
    opacity: 1;
}

@media only screen and (min-width: 1024px) {
    nav {
        border-top: 2px solid var(--navigationSilver);
        border-bottom: 2px solid var(--navigationSilver);
        height: 72px;
    }

    nav > .container {
        position: relative;
    }

    nav > .container > ul {
        position: absolute;
        top: -1.5px;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        height: 72px;
        padding: 0;
        -webkit-transition: none;
        transition: none;
        overflow: visible;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    nav > .container > ul > li:has(> .subMenu) h2::after {
        content: '';
        display: none;
        margin: 0;
    }

    nav > .container > ul > li h2,
    nav > .container > ul > li > h2 > a {
        font-size: 17px;
        font-weight: 500;
        color: black !important;
    }

    nav > .container > ul > li {
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: auto;
        height: 100%;
        margin: 0 10px;
    } */

    /* nav > .container > ul > li:hover::before{
        content: '';
        position: absolute;
        top: -1.5px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(199,54,61,0.1) 0%, transparent 20%, transparent 80%, rgba(199,54,61,0.1) 100%);
        border-top: 2px solid var(--sliderRed);
        border-bottom: 2px solid var(--sliderRed);
        z-index: 1;
    } */

    /* nav > .container > ul > li:hover {
        background: linear-gradient(0deg, rgba(199,54,61,0.4) 0%, transparent 10%);
        border-radius: 2px;
    }

    nav > .container > ul > li:hover h2,
    nav > .container > ul > li:hover > h2 > a {
        color: var(--sliderRed)!important;
    }

    nav > .container > ul > li h2,
    nav > .container > ul > li a {
        z-index: 2;
    }

    nav > .container > ul > li .expand {
        display: none;
    } */

    /* .subMenu {
        display: none;
        position: absolute;
        top: 200px;
        width: 1024px;
        height: 450px;
        background-color: aqua;
        z-index: 999;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        padding-top: 20px;
        align-content: flex-start;
    } */

    /* nav > .container > ul > li:hover .expand{
        display: flex;
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: aqua;
        overflow: visible;
        opacity: 1;
    } */

    /* nav > .container > ul > li:hover .subMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: white;
        border-top: 2px solid var(--sliderRed);
        overflow: visible;
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 20px;
    } */

    /* nav > .container > ul > li:hover h3{
        background-color: yellow;
        display: flex;
        width: 40%;
        margin-bottom: 30px;
    } */

    /* nav > .container > ul > h3:hover + ul.expand{
        display: flex;
        position: absolute;
        background-color: black;
    } */

    /* nav > .container > ul > li:hover ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 20px;
        width: 50%;
        height: 95%;
        background-color: burlywood;
    } */

    /* nav > .container > ul > li:hover .expand:not(.subMenu.expand){
        display: flex;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        background-color: green;
    } */

    /* nav > .container > ul > li:hover .expand:not(.subMenu.expand){
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
        top: 0;
        left: 0;
        width: 50px;
        height: 100px;
        position: absolute;
        opacity: 1;
        overflow: visible;
    } */

    /* .subMenu > h3:hover + ul.expand{
        background-color: green;
        opacity: 1;
    } */



/* } */

@media only screen and (min-width: 1280px) {

    nav > .container > ul > li h2,
    nav > .container > ul > li > h2 > a {
        font-size: 18px;
        font-weight: 600;
    }

    
}

@media only screen and (min-width: 1500px) {
    nav {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(90deg, transparent 0%, black 15%, black 85%, transparent 100%);
        border-image-slice: 1;
        height: 72px;
    }
}

main > .container {
    background-color: gray;
    min-height: 1000px;
}
