* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}


/* ------------- NAVIGACIJA ----------------- */

/* gornji deo navigacije */
.topNav { 
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    width: 212px;
    height: 64px;
}

.logo > img{
    width: 212px;
    height: 64px;
}

@media only screen and (max-width: 1024px) {
    .rightCorn {
        display: flex;
        align-items: center;
    }
}

.socialAndLang {
    display: none;
}

.rightCorn > .searchbox {
    display: none;
}

.hamburgerIcon {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    /* background-color: green; */
}


/* sama navigacija */

nav > .container > ul {
    position: absolute;
    list-style-type: none;
    width: 100%;
    height: 101%;
    left: -110%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav > .container > ul > a > li{
    padding: 20px 20px 21px 20px;
    font-size: 21px;
    height: 60px;
    text-align: center;
    /* background-color: yellow; */
}

nav > .container > ul > a:link, nav > .container > ul > a:visited{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-left: 0px;
        width: 318px;
        height: 96px;
    }
    
    .logo > img{
        width: 318px;
        height: 96px;
    }
}

@media only screen and (min-width: 1024px) {
    .hamburgerIcon {
        display: none;
    }

    .socialAndLang {
        display: block;
        width: 360px;
        display: flex;
        justify-content: space-between;
    }
    
    .socialAndLang > .social > img {
        height: 30px;
    }
    
    .socialAndLang > .lang > span {
        font-size: 12px;
        font-weight: bold;
        color: #0C71C3;
    }
    
    .vl {
        display: inline;
        margin: 0 5px;
        border-left: 2px solid green;
        height: 10px;
    }
    
    .rightCorn > .searchbox{
        display: block;
        margin-top: 10px;
        width: 380px;
        height: 38px;
        border-radius: 40px;
        background-color: #CCCCCC;
    }

    nav > .container > ul {
        position: static;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid #CCCCCC;
        border-bottom: 2px solid #CCCCCC;
        list-style-type: none;
        box-shadow: none;
    }
}




/* POCETAK MAIN */

main {
    /* background-color: gray; */
    /* background-image: url(SLIKE/za\ probu\ pozadina.jpg); */
    width: 100%;
    min-height: 800px;
}