* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* -------------------------- PODESAVANJA OKO FONTOVA ---------------------------  */
* {
    font-family: 'Playfair Display','Times New Roman', Times, serif;
}

h1 {
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
}

.noItalic {
    font-style: normal;
}



/* ---------------------------------- BOJE --------------------------------------  */
:root {
    /* --background-color: #FFFFFF; */
    --sliderRed: #c7363d;
    --navigationRed: rgba(199, 54, 61, 0.1);
    --navigationSilver: #CCCCCC;
    --simpleCardsBlue: #0C71C3;
}
 


/* ---------------------------- OSNOVE RESPONSIVE --------------------------------  */
.container {
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}




/* ===================================== HEADER ====================================== */

/* ------------- NAVIGACIJA ----------------- */

        /* GORNJI DEO NAVIGACIJE*/
.topNav { 
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 5%;
    width: 60%;
}

.logo img{
    width: 100%;
}

.rightCorn {
    margin-right: 5%;
}

.rightCorn .socialAndLang {
    display: none;
}

.rightCorn .searchbox {
    display: none;
}


.hamburgerIcon {
    display: block;
    width: 48px;
    height: 48px;
    z-index: 999;
}

.hamburgerIcon img {
    width: 100%;
}

/* za search icon  */
.searchbox > .material-symbols-outlined {
    font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media only screen and (min-width: 450px) {
    .logo {
        width: 270px;
    }

    .hamburgerIcon {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-left: 0px;
        width: 318px;
        height: 96px;
    }
    
    .logo img{
        width: 318px;
        height: 96px;
    }
}

@media only screen and (max-width: 1023px) {
    .rightCorn {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) {
    .hamburgerIcon {
        display: none;
    }

    .rightCorn .socialAndLang {
        display: block;
        width: 360px;
        display: flex;
        justify-content: space-between;
    }
    
    .socialAndLang > .social img {
        height: 30px;
    }
    
    .socialAndLang > .lang span {
        font-size: 12px;
        font-weight: 700;
        color: var(--simpleCardsBlue);
    }
    
    .vl {
        display: inline;
        margin: 0 5px;
        border-left: 2px solid var(--simpleCardsBlue);
        height: 10px;
    }
    
    .rightCorn > .searchbox{
        display: flex;
        padding: 3px;
        margin-top: 10px;
        width: 380px;
        height: 38px;
        border-radius: 40px;
        background-color: var(--navigationSilver);
    }
}


        /* GLAVNI DEO NAVIGACIJE*/
nav > .container > ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    list-style-type: none;
    width: 100%;
    height: 101%;
    top: 0;
    left: -110%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 998;
    padding-top: 25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20%;
}

nav > .container > ul a,
nav > .container > ul a:link,
nav > .container > ul a:visited {
    text-decoration: none;
    color: black;
}

nav > .container > ul > li {
    width: 80%;
    margin-bottom: 20px;
}

nav > .container > ul > li h2 {
    color: var(--sliderRed);
}

nav > .container > ul > li h3 {
    margin-bottom: 10px;
}

nav > .container > ul > li > h2 > a {
    color: var(--sliderRed) !important;
}

nav > .container > ul > li:has(> .subMenu) h2{
    display: flex;
    align-items: center;
    /* background-color: red; */
}

/* expand icon */
h2 > .material-symbols-outlined {
    font-size: 1.5em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav > .container > ul > li:has(> .subMenu) h2::after {
    content: url('SLIKE/expand_more_FILL0_wght400_GRAD0_opsz48.svg');
    display: inline-block;
    margin-left: 5px;
}

nav > .container > ul > li ul {
    list-style-type: none;
    padding-left: 10px;
    width: 80%;
}

nav > .container > ul > li ul li{
    font-size: 1.1em;
    margin: 5px 0px;
}

.expand {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
    
.expand.shown {
    height: auto;
    overflow: visible;
    opacity: 1;
}

@media only screen and (min-width: 1024px) {
    nav {
        border-top: 2px solid var(--navigationSilver);
        border-bottom: 2px solid var(--navigationSilver);
    }

    nav > .container > ul {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        height: 70px;
        padding: 0;
        -webkit-transition: none;
        transition: none;
        overflow: visible;
        /* top: 0;
        left: 0; */
    }

    nav > .container > ul > li:has(> .subMenu) h2::after {
        content: '';
        display: none;
        margin: 0;
    }

    nav > .container > ul > li h2,
    nav > .container > ul > li > h2 > a {
        font-size: 17px;
        font-weight: 500;
        color: black !important;
    }

    nav > .container > ul > li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: auto;
        height: 100%;
        margin: 0 10px;
    }

    nav > .container > ul > li:hover::before{
        content: '';
        position: absolute;
        top: -1.5px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(199,54,61,0.1) 0%, transparent 20%, transparent 80%, rgba(199,54,61,0.1) 100%);
        border-top: 2px solid var(--sliderRed);
        border-bottom: 2px solid var(--sliderRed);
        z-index: 1;
    }

    nav > .container > ul > li h2,
    nav > .container > ul > li a {
        z-index: 2;
    }

    nav > .container > ul > li .expand,
    nav > .container > ul > li h3 {
        display: none;
    }

    /* .subMenu {
        display: none;
        position: absolute;
        top: 200px;
        width: 1024px;
        height: 450px;
        background-color: aqua;
        z-index: 999;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        padding-top: 20px;
        align-content: flex-start;
    } */

    nav > .container > ul > li:hover .expand{
        display: flex;
        position: fixed;
        width: 1024px;
        height: auto;
        background-color: aqua;
        overflow: visible;
        opacity: 1;
    }

}

@media only screen and (min-width: 1280px) {

    nav > .container > ul > li h2,
    nav > .container > ul > li > h2 > a {
        font-size: 21px;
        font-weight: 400;
    }

}